#main {
  width: 80%;
  margin: 0 auto;
}

.photo-ttl h1 {
  text-align: center;
  font-size: 100px;
  margin-bottom: 10%;
  position: relative;
  top: 50px;
}

.season h1 {
  font-size: 50px;
  margin-bottom: 5%;
}

.spring-photo {
  color: #e3a4b4;
}

.spring-photo .slick-dots li.slick-active button:before {
  background-color: #e3a4b4;
}

.summer-photo {
  color: #f5a600;
}

.summer-photo .slick-dots li.slick-active button:before {
  background-color: #f5a600;
}

.autumn-photo {
  color: #a57027;
}

.autumn-photo .slick-dots li.slick-active button:before {
  background-color: #a57027;
}

.winter-photo {
  color: #c1d3e9;
}

.winter-photo .slick-dots li.slick-active button:before {
  background-color: #c1d3e9;
}

.photo-all ul li img {
  width: 100%;
  height: 100%;
}

.photo-txt-block {
  -webkit-box-shadow: 5px 5px 10px #D6D6D6;
          box-shadow: 5px 5px 10px #D6D6D6;
  padding: 5% 2.5%;
  color: #000;
}

.photo-ttl {
  font-weight: bold;
  margin-bottom: 10%;
}

.photo-img {
  height: 12vw;
}

.photo-all .slideShow {
  position: relative;
  z-index: 1;
}

.photo-all .slick-list {
  height: 20vw;
}

.photo-all .slick_prev, .photo-all .slick_next {
  width: 10px;
  height: 10px;
  border-top: 2px solid #888686;
  border-right: 2px solid #888686;
  cursor: pointer;
  position: absolute;
  top: 35%;
  z-index: 5;
}

.photo-all .slick_prev {
  left: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.photo-all .slick_next {
  right: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.photo-all .slick-slide {
  margin: 0 15px;
}

.photo-all .slick-dots {
  text-align: center;
  position: relative;
  z-index: 5;
}

.photo-all .slick-dots li {
  margin: 0 1px;
}

.photo-all .slick-dots li button:before {
  content: "";
  width: 10px;
  height: 8px;
  background-color: #D6D6D6;
  opacity: 1;
  border-radius: 50%;
}

.copyright-photo {
  text-align: center;
  margin-top: 10%;
  padding-bottom: 5px;
}

.copyright-photo::before {
  content: "";
  position: absolute;
  bottom: 15px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: #691569;
  border-radius: 50%;
}

.copyright-photo::after {
  content: "0";
  font-size: 14px;
  position: absolute;
  bottom: 0;
  right: 31px;
  bottom: 20px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .photo-all .slick-list {
    height: 23vw;
  }
  .photo-all .slick_prev {
    left: -5px;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  .photo-all .slick_next {
    right: -5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .photo-all .slick_prev, .photo-all .slick_next {
    top: 43%;
  }
  .photo-img {
    height: 13vw;
  }
}

@media screen and (max-width: 768px) {
  .photo-all .slick-list {
    height: 31vw;
  }
  .photo-img {
    height: 17vw;
  }
}

@media screen and (max-width: 480px) {
  .photo-ttl h1 {
    margin-bottom: 40%;
    top: 70px;
  }
  .season h1 {
    margin-bottom: 10%;
  }
  .photo-all .slick-list {
    height: 63vw;
  }
  .photo-img {
    height: 35vw;
  }
  .copyright-photo {
    margin-top: 20%;
  }
}
