$black: #000;
$white: #fff;
$spring: #e3a4b4;
$summer: #f5a600;
$autumn: #a57027;
$winter: #c1d3e9;
$slick: #888686;
$slick-btn: #cdc9ca;
$contact-25: #F8DEDE;
$contact-75: #F98CA5;
$contact-100: #E99C9C;
$contact-form-box: #ECECEC;
$footer-page-before: #691569;
$photo-txt-box-shadow: #D6D6D6;
$home-btn-color-right: #217c8b;
$home-btn-color-center: #386e99;
$home-btn-color-left: #4f5ca5;
